body,
.content,
.row {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.row {
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
/* alteracoes no form */
.row form {
  padding: 2%;
}

/* alteracoes no input do for de texto */
.row form :nth-child(1) {
  color: #e71313;
  font-size: 1.3em;
}

h1 {
  color: #000;
  font-size: 2rem;
  background-color: rgba(235, 255, 51, 0.26);
  padding-bottom: 2%;
  padding-left: 2%;
  padding-top: 2%;
  text-align: center;
}
/*segundo elemento .row para diferencia do primeiro */
.row:nth-child(2) li {
  align-items: center;
  justify-items: center;
  text-align: center;
}
/* aqui pegando a segunda div .row e fazendo zembrar de 2 em  */
.row:nth-child(2) :nth-child(2n) {
  background-color: #ec7e3e;
}
.row:nth-child(2) {
  /* justify-items: center;
  align-items: center; */
  background-color: rgb(190, 248, 229);
}
.row:nth-child(2) #clearItem {
  background-color: #e71313;
}
#my-list > li {
  font-weight: 467;
  font-size: 130%;
}

#my-list > li > button {
  background-color: #f13535;
  color: #0f0;
  font-weight: 900;
}
